<p>
  <strong>Index:</strong>
  <%= service.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= service.name %>
</p>

<p>
  <%#= link_to 'Deactivate Service', [service.user, service],
              method: :delete,
      data: { confirm: 'Are you sure?' } %>
</p>